.app {
  text-align: center;
}

.app__header {
  color: #6067f1;
  font-weight: 700;
  text-align: center;
  font-size: 60px;
  line-height: 1.3;
}

.app__description {
  display: block;
  color: #9396b9;
  text-align: center;
  font-size: 30px;
  line-height: 1.8;
}

.app__qr-container > canvas {
  display: block;
  margin: auto;
}
